.site-header {
    z-index: 999;
    background-color: var(--secondary-bg-color);
}

.site-header > * {
    margin: 0;
}
.header-nav {
    height: var(--default-header-nav-height);
    align-items: center;
}
.toggle {
    background-color: var(--secondary-bg-color);
    float: left;
    width: fit-content !important;
    height: var(--default-button-height);
}
