.wrapper {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    // background: var(--secondary-bg-color);
    background-color: rgba(252, 252, 252, 0.329);
    background-blend-mode: color;
    * {
        color: var(--primary-font-color);
    }
}
.nav-body {
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 5px;
    p {
        margin: 0;
    }
    .icon {
        margin: 0 10px 0 0;

        * {
            font-size: 1.3rem;
        }
    }
}

.expand {
    animation: spin_forward var(--default-animation-timing) linear forwards;
}

.collapse {
    animation: spin_backward var(--default-animation-timing) linear forwards;
}
@keyframes spin_forward {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes spin_backward {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
