.wrapper {
    padding-top: calc(
        var(--default-header-height) + var(--default-header-nav-height)
    ) !important;
    display: flex;
    height: 100vh;
}

.content {
    // background: var(--primary-bg-color);
}
