:root {
    --default-header-height: 50px;
    --default-header-nav-height: 44px;
    --default-button-height: 32px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
